.display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;

  background: #F3F4F6;
  border-radius: 6px;

  &_disabled {
    pointer-events: none;
  }

  &__input {
    width: 100%;

    background: none;

    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: right;
    color: #111827;
  }
}

