.dropZone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border: 2px dashed #C4C4C4;
  border-radius: 6px;

  &_isOver {
    background: #F0F9FF;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 127px;
    gap: 12px;
  }

  &__textWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  &__text1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5D5FEF;
  }
  &__text2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #6B7280;
  }
}


