.app {
  display: flex;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 695px;
  padding: 30px 80px 80px;

  &__top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
  }

  &__body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 56px;

    width: 100%;
  }
}