.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4px;

  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

