@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;

	font-family: 'Inter', sans-serif;
	font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
	color: #000000;
}

.body_dragging * {
  cursor: move!important;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}